{% load static %}
<header class="header">
    <div class="header__menu-item" id="header__auth">
        {% if request.user.is_authenticated %}
            <a href="/dashboard">
                <lord-icon
                    src="https://cdn.lordicon.com/kdduutaw.json"
                    trigger="hover"
                    colors="primary:#5c2fc2,secondary:#5c88c4"
                    style="width:50px;height:50px">
                </lord-icon>
            </a>
        {% else %}
            <a href="/login">ثبت نام/ورود</a>
        {% endif %}
    </div>
    <button class="mobile-menu-btn" aria-label="Toggle Menu">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav class="header__nav">
        <ul class="header__menu">
            <li class="header__menu-item"><a href="{% url 'home' %}">صفحه اصلی</a></li>
            <li class="header__menu-item"><a href="{% url 'trip:planner_form' %}">برنامه‌ریزی سفر</a></li>
            <li class="header__menu-item"><a href="{% url 'blog:show_post' %}">وبلاگ</a></li>
            <li class="header__menu-item"><a href="{% url 'hotel:hotel_list' %}">هتل ها</a></li>
            <li class="header__menu-item"><a href="{% url 'place:places_list' %}">مکان ها</a></li>
        </ul>
    </nav>
    <div class="header__logo">
        <img src="{% static 'static_main/images/logo-website.png' %}" alt="سفرینو" width="120" height="40">
    </div>
</header>
<div class="menu-overlay"></div>