{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'static_main/css/index.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{% static 'static_main/javascript/index.js' %}" defer></script>
{% endblock %}

{% block content %}
<main class="cont">
    <div class="slider">
        <div class="slide slide--1">
            <div class="slide__top-right">سفر را به رویا تبدیل کن!</div>
            <div class="slide__bottom-left">با سفرینو، مقصدت را انتخاب کن، برنامه سفر حرفه‌ای بساز و از لحظه‌لحظه‌ی سفر لذت ببر!</div>
        </div>
        <div class="slide slide--2">
            <div class="slide__top-right">کشف دنیا، فقط چند کلیک فاصله دارد!</div>
            <div class="slide__bottom-left">ماجراجویی‌های جدید منتظر تو هستند. مسیرت را مشخص کن، بهترین پیشنهادها را ببین و سفر فراموش‌نشدنی بساز!</div>
        </div>
        <div class="slide slide--3">
            <div class="slide__top-right">برنامه‌ریزی سفر، آسان‌تر از همیشه!</div>
            <div class="slide__bottom-left">از انتخاب مقصد تا رزرو هتل، همه چیز را به سفرینو بسپار و فقط کیف سفر را ببند!</div>
        </div>
        <div class="slide slide--4">
            <div class="slide__top-right">همه‌چیز برای سفری بی‌نقص!</div>
            <div class="slide__bottom-left">بهترین مسیرها، مکان‌های دیدنی و تجربه‌های خاص را در یک نگاه ببین و بدون دردسر برنامه سفر خودت را بساز.</div>
        </div>
        <div class="slide slide--5">
            <div class="slide__top-right">همین حالا برای سفر خودت را آماده کن!</div>
            <div class="slide__bottom-left">برای شروع روی ایجاد سفر جدید کلیک کنید.</div>
        </div>
    </div>
    <ul class="nav" aria-label="Navigation dots"></ul> 
    
    <div data-target='right' class="side-nav side-nav--right" aria-label="Next slide"></div>
    <div data-target='left' class="side-nav side-nav--left" aria-label="Previous slide"></div>
</main>

<div class="famous_cities">
    <h2 class="famous_cities__title">سفر های پرطرفدار</h2>
    <div class="container">
        <card data-image="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=">
            <div class="card-wrap">
                <div class="card">
                    <div class="card-bg"></div>
                    <div class="card-info">
                        <h2>قشم</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </card>

        <card data-image="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=">
            <div class="card-wrap">
                <div class="card">
                    <div class="card-bg"></div>
                    <div class="card-info">
                        <h2>بندرعباس</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </card>

        <card data-image="https://images.unsplash.com/photo-1479644025832-60dabb8be2a1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=">
            <div class="card-wrap">
                <div class="card">
                    <div class="card-bg"></div>
                    <div class="card-info">
                        <h2>گیلان</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </card>

        <card data-image="https://images.unsplash.com/photo-1479644025832-60dabb8be2a1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=">
            <div class="card-wrap">
                <div class="card">
                    <div class="card-bg"></div>
                    <div class="card-info">
                        <h2>کیش</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </card>
    </div>
</div>

<div class="category_cities">
    <h2 class="category_cities__title">دسته بندی های پرطرفدار</h2>
    <div class="container_category">
        <card data-image="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=">
            <div class="card-wrap_category">
                <div class="card_category">
                    <div class="card-bg_category"></div>
                    <div class="card-info_category">
                        <h2>دریایی</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </card>

        <card data-image="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=">
            <div class="card-wrap_category">
                <div class="card_category">
                    <div class="card-bg_category"></div>
                    <div class="card-info_category">
                        <h2>جنگلی</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </card>

        <card data-image="https://images.unsplash.com/photo-1479644025832-60dabb8be2a1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=">
            <div class="card-wrap_category">
                <div class="card_category">
                    <div class="card-bg_category"></div>
                    <div class="card-info_category">
                        <h2>کوهستانی</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </card>

        <card data-image="https://images.unsplash.com/photo-1479644025832-60dabb8be2a1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=">
            <div class="card-wrap_category">
                <div class="card_category">
                    <div class="card-bg_category"></div>
                    <div class="card-info_category">
                        <h2>کویری</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </card>
    </div>
</div>
{% endblock %}
